*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url("office-artboard.png");
    background-size: cover;
    background-position-x: right;
    background-position: center;
    background-attachment: fixed;
    margin: 50px;
    height: 600px;
    width: 400px;
    text-align: center;
    margin-left: 300px;
    
}
img{
    height: 100px;
    width: 100px;
    border: 2px solid crimson;
    border-radius: 50%;
    box-sizing: border-box;
}
img:hover{
    border: 3px solid green;
    
}
a{
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    background: black;
    border: 2px solid crimson;
    border-radius: 5px;
}
















